stages:
  - deploy

variables:
  DEPLOY_USER: "hrolgar"

.deploy_template: &deploy
  stage: deploy
  image: alpine:latest
  tags:
    - docker
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519
    - ssh-keyscan -H $DEPLOY_HOST >> ~/.ssh/known_hosts
  script:
    - |
      ssh $DEPLOY_USER@$DEPLOY_HOST "
        VM_NAME='$VM_NAME'
        STACK_NAME='$STACK_NAME'

        set -euo pipefail

        echo \"Deploying \$STACK_NAME on \$(hostname)\"

        sudo chown -R hrolgar:hrolgar /opt/nas/compose

        cd /opt/nas/compose
        git fetch origin
        git reset --hard origin/main

        cd \$VM_NAME/\$STACK_NAME
      
        ENV_ARG=""

        if [ -n "${ENV_FILE_VAR:-}" ]; then
          umask 077
          cat <<'EOF' > .env.ci
        $(cat "${!ENV_FILE_VAR}")
        EOF
          ENV_ARG="--env-file .env.ci"
        fi

        docker compose pull
        docker compose $ENV_ARG up -d ${FORCE_RECREATE:-}

        echo \"Post-deploy status:\"
        docker compose ps
      "

  rules:
    - if: $CI_COMMIT_BRANCH == "main"

# ============================================
# ULLRINFRASTRUCTURE (10.69.1.50)
# ============================================

deploy-gitlab:
  <<: *deploy
  when: manual
  rules:
    - changes:
        - ullrinfrastructure/gitlab/**/*
  allow_failure: false
  variables:
    DEPLOY_HOST: "10.69.1.50"
    VM_NAME: "ullrinfrastructure"
    STACK_NAME: "gitlab"

deploy-gitlab-runner-01:
  <<: *deploy
  rules:
    - changes:
        - ullrinfrastructure/gitlab-runner/**/*
  variables:
    DEPLOY_HOST: "10.69.1.50"
    VM_NAME: "ullrinfrastructure"
    STACK_NAME: "gitlab-runner"

deploy-infra-monitoring:
  <<: *deploy
  rules:
    - changes:
        - ullrinfrastructure/infra-monitoring/**/*
  variables:
    DEPLOY_HOST: "10.69.1.50"
    VM_NAME: "ullrinfrastructure"
    STACK_NAME: "infra-monitoring"
    FORCE_RECREATE: "--force-recreate"
    ENV_FILE_VAR: "MONITORING_ENV_FILE"



# ============================================
# ULLRMEDIA (add IP when ready)
# ============================================

# deploy-jellyfin:
#   <<: *deploy
#   variables:
#     DEPLOY_HOST: "10.69.1.XX"
#     VM_NAME: "ullrmedia"
#     STACK_NAME: "jellyfin"
