global:
  resolve_timeout: 5m

route:
  receiver: discord
  group_by: ['alertname', 'instance']
  group_wait: 10s
  group_interval: 5m
  repeat_interval: 3h

  routes:
    - match:
        severity: critical
      receiver: discord
      continue: false

    - match:
        severity: warning
      receiver: discord
      continue: false

    - match:
        alertname: Watchdog
      receiver: null

receivers:
  - name: discord
    webhook_configs:
      - url: "http://alertmanager-discord:9094"
        send_resolved: true
