global:
  resolve_timeout: 5m

route:
  receiver: discord-critical
  group_by: ['alertname', 'instance']
  group_wait: 10s
  group_interval: 5m
  repeat_interval: 3h

  routes:
    - match:
        severity: critical
      receiver: discord-critical
      continue: false

    - match:
        severity: warning
      receiver: discord-warning
      continue: false

    - match:
        alertname: Watchdog
      receiver: null

receivers:
  - name: discord-critical
    webhook_configs:
      - url: "${DISCORD_ALERT_WEBHOOK_URL}"
        send_resolved: true
        message: '{{ template "discord.default.message" . }}'

  - name: discord-warning
    webhook_configs:
      - url: "${DISCORD_ALERT_WEBHOOK_URL}"
        send_resolved: true
        message: '{{ template "discord.default.message" . }}'

# Optional: template tuning for message format
templates:
  - '/etc/alertmanager/templates/*.tmpl'


# global:
#   resolve_timeout: 5m

# route:
#   receiver: discord
#   group_by: ["alertname"]
#   group_wait: 30s
#   group_interval: 5m
#   repeat_interval: 3h

# receivers:
#   - name: discord
#     discord_configs:
#       - webhook_url: "https://discord.com/api/webhooks/1449841279394517156/IgHtyzD47vz2t2Qg2K483KWEwrG19Oq7_8XmilhxJauV8CVk19y2ktK_YmvTXl53DhF4"
#         send_resolved: true
#         title: "{{ .CommonLabels.alertname }}"
#         message: |
#           {{ range .Alerts }}
#           **Alert:** {{ .Annotations.summary }}
#           **Description:** {{ .Annotations.description }}
#           **Severity:** {{ .Labels.severity }}
#           {{ end }}
