networks:
  monitoring:
    name: monitoring
    driver: bridge

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    networks:
      - monitoring
    ports:
      - "9090:9090"
    volumes:
      - /opt/nas/apps/infra-monitoring/prometheus:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./alerts:/etc/prometheus/alerts:ro
    labels:
      org.label-schema.group: "monitoring"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    networks:
      - monitoring
    ports:
      - "3000:3000"
    volumes:
      - /opt/nas/apps/infra-monitoring/grafana:/var/lib/grafana

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    restart: unless-stopped
    networks:
      - monitoring
    ports:
      - "9093:9093"
    volumes:
      - ./alertmanager-raw.yml:/etc/alertmanager/alertmanager.yml:ro
      - /opt/nas/apps/infra-monitoring/alertmanager:/alertmanager
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
      - '--storage.path=/alertmanager'
      - '--web.external-url=http://10.69.1.50:9093'
    depends_on:
      - alertmanager-discord
      

  alertmanager-discord:
    image: rogerrum/alertmanager-discord:latest
    container_name: alertmanager-discord
    networks:
      - monitoring
    environment:
      - DISCORD_WEBHOOK=${DISCORD_ALERT_WEBHOOK_URL}
      - DISCORD_USERNAME=Bot Alertmanager
      - DISCORD_AVATAR=https://raw.githubusercontent.com/prometheus/prometheus/main/documentation/images/prometheus-logo.png
      - LISTEN_ADDRESS=0.0.0.0:9094
      - VERBOSE=ON
    restart: unless-stopped


  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    networks:
      - monitoring
    ports:
      - "9100:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'
    labels:
      org.label-schema.group: "monitoring"

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: unless-stopped
    networks:
      - monitoring
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg
    privileged: true
    labels:
      org.label-schema.group: "monitoring"
