services:
  backend:
    container_name: infisical-backend
    image: infisical/infisical:latest-postgres
    pull_policy: always
    restart: unless-stopped

    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

    ports:
      - "81:8080"

    dns:
      - 1.1.1.1
      - 8.8.8.8

    environment:
      NODE_ENV: production
      ENCRYPTION_KEY: ${ENCRYPTION_KEY}
      AUTH_SECRET: ${AUTH_SECRET}
      DB_CONNECTION_URI: postgres://infisical:${POSTGRES_PASSWORD}@db:5432/infisical
      REDIS_URL: redis://redis:6379
      SITE_URL: ${SITE_URL}

      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      SMTP_FROM_ADDRESS: ${SMTP_FROM_ADDRESS}
      SMTP_FROM_NAME: ${SMTP_FROM_NAME}

    networks:
      - infisical


  redis:
    container_name: infisical-redis
    image: redis
    restart: always

    environment:
      ALLOW_EMPTY_PASSWORD: "yes"

    volumes:
      - /opt/infisical/redis/data:/data

    networks:
      - infisical


  db:
    container_name: infisical-db
    image: postgres:14-alpine  
    restart: always

    environment:
      POSTGRES_USER: infisical
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: infisical

    volumes:
      - /opt/infisical/postgres/data:/var/lib/postgresql/data

    networks:
      - infisical

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U infisical"] 
      interval: 5s
      timeout: 10s
      retries: 10


networks:
  infisical:
