{{ define "discord.default.message" }}
**[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }}**

> **Summary:** {{ .CommonAnnotations.summary }}
{{- if .CommonAnnotations.description }}
> **Description:** {{ .CommonAnnotations.description }}
{{ end }}

**Severity:** {{ .CommonLabels.severity }}
**Instance:** {{ .CommonLabels.instance }}
**Started:** {{ .StartsAt | humanizeTimestamp }}
{{- if eq .Status "resolved" }}
**Resolved:** {{ .EndsAt | humanizeTimestamp }}
{{ end }}

{{ end }}
